include/scrimmage/proto/*.py
include/scrimmage/proto/*.pb.*
build
bin
lib
plugin_libs
msg_libs
.gdbinit
Makefile
gdb.txt
gdb_monitor.log
.temp_mission*
*.pyc
.*.xml
*.npy
.debug_location
*.*~
*.*#
*.so
id_rsa*
.ycm_extra_conf.py
callgrind*
*toolchain.cmake*
release
debug
*.swo
*.pb.h
*.pb.cc
*egg-info*
grpc.patch
py_bindings
