BasedOnStyle: Google
AccessModifierOffset: -3
IndentWidth:          4
---
Language:           Cpp
ColumnLimit:        120
IncludeCategories:
  - Regex:           '^<scrimmage/.*\.h>'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<ext/.*\.h>'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*\.h>'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*\.h[xp]+>'
    Priority:        5
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<[^\/]*>'
    Priority:        4
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'
    Priority:        6
    SortPriority:    0
    CaseSensitive:   false
