include/scrimmage/proto/*.py
include/scrimmage/proto/*.pb.*
build*
.gdbinit
Makefile
gdb.txt
gdb_monitor.log
.temp_mission*
*.pyc
.*.xml
*.npy
.debug_location
*.*~
*.*#
*.so
id_rsa
deploy_key
.ycm_extra_conf.py
callgrind*
*toolchain.cmake*
release
debug
*.swo
*.pb.h
*.pb.cc
*egg-info*
grpc.patch
py_bindings
*_pb2_grpc.py
*_pb2.py
tags
.eggs
.cache
devel
tags*
**.swp
**.DS_Store
